body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: Georgia, cursive;
}

H1 {
  margin: 50px auto 0 auto;
  font-size: 2.6rem;
  color: #0E185F;
  font-family: 'sacramento', cursive;
}
hr{
  border: dotted #A5BECC;
  border-bottom: NONE;
  width: 5%;
  padding: 20PX AUTO 10PX ;
  color: black;
}
.top-container {
  background-color: #F3E9DD;
  width: 100%;
  height: 700px;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin: 100PX 0;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  width: 100%;
  padding: 45px 0 20px;
}

.WEB {
  text-decoration: underline;
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  bottom: 450px;
  left: 330px;
}

.top-cloud {
  position: absolute;
  top: 70px;
  right: 250px;
}

.ME {
  font-family:
    Trebuchet MS, fantasy;
}

.hard {
  background-color: red;
  font-size: 1.1em;
}

.trust {
  background-color: #4D96FF;
  font-family: verdana, sans-serif;
  font-size: 1.21rem;
}

.best {
  text-decoration: underline;
}

.the {
  background-color: #9254C8;
}

.THEY {
  background-color: #F0A500;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat' , sans-serif;
  font-size: 1.3rem;
  padding-bottom: 10PX;
}
H3{
color: #11999E;
font-family: 'Montserrat' , sans-serif;
font-size : 1.2rem;
}
.skill-row{
  width: 50%;
margin: 80px auto 100px auto;
text-align: left;
line-height: 2;
}
.LIMITED{
  background-color: #6EBF8B;
}
.GET{
  text-decoration: underline;
}
.company{
width: 40%;
float: left;
margin-right: 30px;
}
.code{
  width: 35%;
float: right;
margin-left: 30px;
}
.INTRO{
width: 30%;
margin: auto;
}
a{
  color: #11999E;
font-family: 'MONTSERRAT' , SANS-SERIF;
margin: 10PX 20PX ;
text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.name{
  color: #EAF6F6;
  font-size: 0.75REM;
  padding: 20PX 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #FFFFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
  width: 60%;
  margin: 50px auto 60px;
}
p{
  line-height: 2;
}
.hi{
  color: black;
background-color: #30e3cb;
width: 200px;
margin: 60px auto;
font-family: sans-serif;
}
